@import 'main.scss';

.main-container.results, .main-container.review {
  h2 {
    font-weight: $bold;
    font-size: 24px;
    margin-bottom: 30px;
  }
  button {
    margin: 10px auto;
  }
}

.main-container.results{
  .half {
    span {
      margin-top: 3px;
      font-weight: $bold;
    }
    a{
      color: $background-color-dark;
      font-weight: $bold;
    }

    svg.rd3-chart {
      box-shadow: 0 4px 4px rgba(254, 200, 75, 0.5);
      border-radius: 50%;
    }
    g.rd3-piechart-arc:nth-child(1) path{
      fill: #FEC84B;
    }
    g.rd3-piechart-arc:nth-child(2) path{
      fill: #F74E62;
    }

    .chart-indicators {
      span:nth-child(1), span:nth-child(2) {
        display: inline-block;
        padding-left: 20px;
        position: relative;
        margin: 10px 8px;

        &:before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: $border-radius;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -7px
        }
      }
      span:nth-child(1):before {
        background: #FEC84B;
      }
      span:nth-child(2):before {
        background: #F74E62;
      }
    }
  }
  @media screen and (max-width: 420px) {
    .half {
      width: 100%;
      float: none;
    }
  }
}

.main-container.review {
  .option {
    .correct-choice, .incorrect-choice{
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-top: 3px;
      & + p {
        padding-left: 5px;
      }
    }
    .correct-choice {
      background: $green;
    }
    .incorrect-choice {
      background: $red;
    }
    p {
      display: inline-block;
      padding-left: 20px;
      margin: 0;
    }
    p:not(.user-choice) {
      opacity: 0.5;
    }
  }
}
